*{
    padding: 0px;
    margin: 0px;
}
@media only screen and (min-width: 200px){

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #main{
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #header{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    #header:hover{
        opacity: 50%;
    }

    #topNav{
        display: flex;
        justify-content: center;
        margin: 2% 0% 2% 0%;
    }

    .topNavLinks, .topNavLinks:hover{
        margin: 0 17px;
        font-family: 'RaphaelIcons';
        text-decoration: none;
        color: #4a4d4e;
        font-size: 18px;
    }
    
    #body{
        width: 100%;
        position: absolute;
        top: 37%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
    }

    .typewriter {
        font-family: 'RaphaelIcons';
        display: inline-block;
        color: #d3295f;
    }
    
    .typewriter-text {
        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        animation: typing 5s steps(30, end), blink .75s step-end infinite;
        white-space: nowrap;
        font-size: 30px;
        font-weight: 700;
        border-right: 4px solid orange;
        box-sizing: border-box;
    }
    
    @keyframes typing {
        from { 
            width: 0% 
        }
        to { 
            width: 100% 
        }
    }
    
    @keyframes blink {
        from, to { 
            border-color: transparent 
        }
        50% { 
            border-color: orange; 
        }
    }
    
    #email{
        margin: 1% 0% 1% 0%;
        font-size: 22px;
        text-decoration: none;
        color: #4a4d4e;
    }

    #email:hover{
        text-shadow: 0 0 15px #fcb411;
    }
    
    #gitHubLinkedIn{
        margin: 1% 0% 1% 0%;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #gitHubLinkedIn a{
        text-decoration: none;
        color: #d3295f;
        font-family: 'RaphaelIcons';
    }

    #me{
        font-family: 'RaphaelIcons';
        color: #4a4d4e;
        font-size: 15px;
    }
    
    .intro{
        font-size: 18px;
        padding: 0% 4%;
        font-family: 'RaphaelIcons';
        color: #4a4d4e;
    }

    #introBreak{
        display: none;
    }

    #aboutMeLink, #projectLink{
        color: #4a4d4e;
        text-decoration: none; 
    }

    #aboutMeLink:hover, #projectLink:hover{
        text-shadow: 0 0 15px #fcb411;
        text-decoration: none; 
    }

}

@media only screen and (min-width: 720px){

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #main{
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #header{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    #header:hover{
        opacity: 50%;
    }
    
    #topNav{
        display: flex;
        justify-content: center;
        margin: 2% 0% 2% 0%;
        align-items: center;
    }

    .topNavLinks, .topNavLinks:hover{
        margin: 0 18px;
        font-family: 'RaphaelIcons';
        text-decoration: none;
        color: #4a4d4e;
        font-size: 19px;
    }

    #body{
        width: 100%;
        position: absolute;
        top: 37%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
    }

    .typewriter {
        font-family: 'RaphaelIcons';
        display: inline-block;
        color: #d3295f;
    }
    
    .typewriter-text {
        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        animation: typing 5s steps(30, end), blink .75s step-end infinite;
        white-space: nowrap;
        font-size: 35px;
        font-weight: 700;
        border-right: 4px solid orange;
        box-sizing: border-box;
    }
    
    @keyframes typing {
        from { 
            width: 0% 
        }
        to { 
            width: 100% 
        }
    }
    
    @keyframes blink {
        from, to { 
            border-color: transparent 
        }
        50% { 
            border-color: orange; 
        }
    }
    
    #email{
        margin: 1% 0% 1% 0%;
        font-size: 22px;
        text-decoration: none;
        color: #4a4d4e;
    }

    #email:hover{
        text-shadow: 0 0 15px #fcb411;
    }
    
    #gitHubLinkedIn{
        margin: 1% 0% 1% 0%;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #gitHubLinkedIn a{
        text-decoration: none;
        color: #d3295f;
        font-family: 'RaphaelIcons';
    }

    #me{
        font-family: 'RaphaelIcons';
        color: #4a4d4e;
        font-size: 16px;
    }
    
    .intro{
        font-size: 19px;
        font-family: 'RaphaelIcons';
        color: #4a4d4e;
        padding: 0% 2%;
    }

    #introBreak{
        display: block;
    }

    #aboutMeLink, #projectLink{
        color: #4a4d4e;
        text-decoration: none; 
    }

    #aboutMeLink:hover, #projectLink:hover{
        text-shadow: 0 0 15px #fcb411;
        text-decoration: none; 
    }

    #hiddenLink{
        color: white;
    }

}