*{
    padding: 0px;
    margin: 0px;
}

#main{
    padding: 5%;
    /* display: flex;
    justify-content: left; */
    animation: intro 0.3s both;
    animation-delay: 0.35s;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4d4e;
}

#heading{
    display: flex;
    justify-content: left;
    margin-left: 5%;
}

#myImage{
    width: 130px;
    padding: 0% 15% 0% 15%;
}

#myInfo{
    margin-left: 5%;
}

#myName{
    color: #4a4d4e;
}

#email{
    padding-top: 3%;
}

ul {
    list-style-position: inside;
    padding-left: 5%;
}

.projectDesc{
    margin: 0px 0px 20px 20px;
    font-size: 16px;
    padding: 1% 0% 1% 0.5%;
}

.projTitle{
    padding-left: 5%;
}

#MyJourney p, #WanderLust p, #QuizApp p, #FastChat p{
    padding-top: 1%;
    padding-left: 5%;
    width: 85%;
}

.myJournalImgs, .wanderLustImgs, .quizAppImgs, .fastChatImgs{
    padding: 3px 1px 1px 0px;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 85%;
}

