*{
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 200px){

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #main{
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: white;
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
    }

    #header{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    #sun{
        text-align: center;
    }

    #backButton, #backButton:hover{
        color: #fcb411;
        text-decoration: none;
        font-family: 'RaphaelIcons';
        margin: 2% 0% 2% 0%;
        padding-top: 5%;
        font-size: 18px;
    }

    #sun:hover{
        opacity: 50%;
    }

    #subheader{
        padding: 3% 5%;
        margin: 4% 0% 0% 0%;
        background-color: #faf8f5;
        border-top: rgba(0,0,0,.125) solid 1px;
        border-bottom: rgba(0,0,0,.125) solid 1px;
    }

    #title{
        color: #d3295f;
        font-family: 'RaphaelIcons';
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0px;
    }

    #listOfProjects{
        display: none;
    }

    #listOfProjectsMobileVersion{
        display: block;
        padding: 0.4% 5%;
    }

    .projectDivMobile{
        text-align: center;
        margin: 2% auto;
        border-bottom: rgba(0,0,0,.125) solid 1px;
        width: 95%;
        padding: 7% 0% 2% 0%;
    }

    .projectImgsMobile{
        width: 240px;
    }

    .projectTitleMobile{
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1%;
    }

    .goToProjectMobile{
        color: #d3295f;
        font-family: 'RaphaelIcons';
        font-size: 17px;
    }

    .goToProjectMobile:hover{
        text-decoration: none;
        color: #d3295f;
        font-family: 'RaphaelIcons';
        font-size: 20px;
        text-shadow: 0 0 15px #fcb411;
    }

    .projectDescMobile{
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
        font-size: 20px;
        font-weight: 300;
        margin-top: 2%;
    }

}

@media only screen and (min-width: 720px){

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #main{
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: white;
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
    }

    #header{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    #sun{
        text-align: center;
    }

    #backButton, #backButton:hover{
        color: #fcb411;
        text-decoration: none;
        font-family: 'RaphaelIcons';
        padding-top: 5%;
        font-size: 19px;
    }

    #sun:hover{
        opacity: 50%;
    }

    #subheader{
        padding: 3% 5%;
        margin: 1.4% 0% 0% 0%;
        background-color: #faf8f5;
        border-top: rgba(0,0,0,.125) solid 1px;
        border-bottom: rgba(0,0,0,.125) solid 1px;
    }

    #title{
        color: #d3295f;
        font-family: 'RaphaelIcons';
        font-size: 35px;
        letter-spacing: 2px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0px;
    }

    #listOfProjects{
        display:block;
        padding: 0.4% 5%;
    }

    #listOfProjectsMobileVersion{
        display: none;
    }

    .projectDiv{
        display: flex;
        justify-content: center;
        margin: 2% auto;
        border-bottom: rgba(0,0,0,.125) solid 1px;
        width: 65%;
        padding: 0.7% 0% 3% 0%;
    }

    .projectImgs{
        width: 300px;
    }

    .projectTitle{
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1%;
    }

    .goToProject{
        color: #d3295f;
        font-family: 'RaphaelIcons';
        font-size: 20px;
    }

    .goToProject:hover{
        text-decoration: none;
        color: #d3295f;
        font-family: 'RaphaelIcons';
        font-size: 20px;
        text-shadow: 0 0 15px #fcb411;
    }

    .projectDesc{
        color: #4a4d4e;
        font-family: 'RaphaelIcons';
        font-size: 22px;
        font-weight: 300;
        margin-top: 2%;
    }

}