*{
    padding: 0px;
    margin: 0px;
}

#triangles{
    display: flex;
    justify-content: left;
    left: 50%;
}

#sunnies{
    display: flex;
    justify-content: left;
    margin: 5% 0% 0% 5%;
}

.arrow-down {
    border-bottom: 20px solid #fc97b9;
    border-left: 30px solid rgba(0, 0, 0, 0);
    border-right: 30px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    transform: rotate(180deg);
}

ul {
    list-style-position: inside;
    padding-left: 5%;
}

#QuizApp, #MyJourney, #WanderLust, #FastChat{
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4d4e;
}

#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links{
    display: flex;
    display: right;
}

.projTitle{
    font-family: 'RaphaelIcons';
    padding-left: 5%;
    color: #d3295f;
}

#MyJourney p, #WanderLust p, #QuizApp p, #FastChat p{
    padding: 2% 0% 0.5% 0%;
    padding-left: 5%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'RaphaelIcons';
    font-size: 18px;
}

#MyJourney a, #WanderLust a, #QuizApp a, #FastChat a{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'RaphaelIcons';
    font-size: 18px;
    text-decoration: none;
    color: #d3295f;
}

.myJournalImgs, .wanderLustImgs, .quizAppImgs, .fastChatImgs{
    padding: 3px 1px 1px 0px;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 95%;
}

#topTag{
    font-family: 'RaphaelIcons';
    margin-left: 5%;
    font-size: 18px;
}

