*{
    padding: 0px;
    margin: 0px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#main{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#sunnies{
    display: flex;
    justify-content: left;
    margin: 5% 0% 0% 5%;
}

ul {
    list-style-position: inside;
    padding-left: 5%;
}

#QuizApp, #MyJourney, #WanderLust, #FastChat{
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4d4e;
}

#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links{
    display: flex;
    display: right;
}

.projTitle{
    font-family: 'RaphaelIcons';
    padding-left: 5%;
    color: #d3295f;
}

.headerLinks:hover, #topTag:hover{
    text-shadow: 0 0 15px #fcb411;
}

#MyJourney p, #WanderLust p, #QuizApp p, #FastChat p{
    padding: 2% 0% 0.5% 0%;
    padding-left: 5%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'RaphaelIcons';
    font-size: 18px;
}

#MyJourney a, #WanderLust a, #QuizApp a, #FastChat a{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'RaphaelIcons';
    font-size: 18px;
    text-decoration: none;
    color: #d3295f;
}

.myJournalImgs, .wanderLustImgs, .quizAppImgs, .fastChatImgs{
    padding: 3px 1px 1px 0px;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 95%;
}

#topTag{
    font-family: 'RaphaelIcons';
    margin-left: 5%;
    font-size: 18px;
}

