*{
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 200px){

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #main{
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #header{
        display: flex;
        justify-content: center;
    }

    #header:hover{
        opacity: 50%;
    }

    ul {
        list-style-position: inside;
        padding-left: 5%;
    }

    #heading{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #faf8f5;
        border-top:rgba(0,0,0,.125) solid 1px;
        border-bottom: rgba(0,0,0,.125) solid 1px;
        padding: 3% 5%;
        margin: 6% 0% 2% 0%;
    }

    #links, #links:hover{
        display: flex;
        justify-content: center;
        margin-top: 0.6%;
    }

    .projTitle{
        font-family: 'RaphaelIcons';
        color: #d3295f;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .headerLinks{
        color: #fcb411;
        font-size: 18px;
        text-decoration: none;
        font-family: 'RaphaelIcons';
    }

    .headerLinks:hover, #topTag:hover{
        text-shadow: 0 0 15px #ebe3d8;
    }

    #MyJourney p, #WanderLust p, #QuizApp p, #FastChat p{
        padding: 4% 5% 1% 5%;
        font-family: 'RaphaelIcons';
        font-size: 20px;
    }

    .myJournalImgs, .wanderLustImgs, .quizAppImgs, .fastChatImgs{
        padding: 3px 1px 1px 0px;
        margin-bottom: 1%;
        margin: 0% 5% 0% 5%;
        width: 90%;
    }

    #topTag{
        font-family: 'RaphaelIcons';
        margin-left: 5%;
        font-size: 18px;
        text-decoration: none;
        color: #fcb411;
    }

}

@media only screen and (min-width: 720px){
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #main{
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #header{
        display: flex;
        justify-content: center;
    }

    #header:hover{
        opacity: 50%;
    }

    ul {
        list-style-position: inside;
        padding-left: 5%;
    }

    #heading{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #faf8f5;
        border-top:rgba(0,0,0,.125) solid 1px;
        border-bottom: rgba(0,0,0,.125) solid 1px;
        padding: 3% 5%;
        margin: 2% 0% 0% 0%;
    }

    #links, #links:hover{
        display: flex;
        justify-content: center;
        /* padding-left: 5%; */
        margin-top: 0.6%;
    }

    .projTitle{
        font-family: 'RaphaelIcons';
        /* padding-left: 5%; */
        color: #d3295f;
        font-size: 35px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .headerLinks{
        color: #fcb411;
        font-size: 18px;
        text-decoration: none;
        font-family: 'RaphaelIcons';
    }

    .headerLinks:hover, #topTag:hover{
        text-shadow: 0 0 15px #d4b079;
    }

    #MyJourney p, #WanderLust p, #QuizApp p, #FastChat p{
        padding: 3% 5% 1% 5%;
        font-family: 'RaphaelIcons';
        font-size: 22px;
    }

    .myJournalImgs, .wanderLustImgs, .quizAppImgs, .fastChatImgs{
        padding: 3px 1px 1px 0px;
        margin-bottom: 1%;
        margin: 0% 5% 0% 5%;
        width: 90%;
    }

    #topTag{
        font-family: 'RaphaelIcons';
        margin-left: 5%;
        font-size: 18px;
        text-decoration: none;
        color: #fcb411;
    }

}

